<!-- HEADER -->
<div class="jumbotron">
  <div class="container" style='position: relative'>
    <!-- prerequisite topics -->
    <div class="col-md-3 col-sm-3 topic-jumbotron text-left">
      <div class="glyphicon glyphicon-menu-left"></div>

      <uib-carousel active="0"  no-wrap="false" class='right-carousel '>
        <uib-slide ng-repeat="chunk in chunkPrereqs" index= "$index">
            <div class="links-cell">
                <ul>
                    <li ng-repeat="prereq in chunk">
                      <related-topic type="'prereq'" topic="prereq" base-topic-id="topic.id" votes="topic.votes.prereq[prereq.prerequisiteId]"></related-topic>
                    </li>
                </ul>
            </div>
        </uib-slide>
      </uib-carousel>

      <button type="button" class="btn btn-default btn-xs suggest-prereq" ng-click="suggestRelatedTopic({ suggestionType: 'prereq', topicId: topic.id})" ng-if="isLoggedIn"><span class="glyphicon glyphicon-plus"></span> suggest prerequisite</button>
    </div>

    <!-- topic header -->
    <div class="col-md-6 col-sm-6 topic-jumbotron topic-title-cell text-center">
      <div>
        <h1>{{ topic.title }}</h1>
        <!-- Flag This Topic -->
        <button type="button" class="btn btn-xs btn-default" ng-click="flagTopic(topic.id)">
          <span class='glyphicon glyphicon-flag'></span>
          flag this topic
        </button>
      </div>
      <h3>{{ topic.description }}</h3>
    </div>

    <!-- subsequent topics -->
    <div class="col-md-3 col-sm-3 topic-jumbotron text-right">
      <div class="glyphicon glyphicon-menu-right"></div>

      <uib-carousel active="0"  no-wrap="false" >
        <uib-slide ng-repeat="chunk in chunkSubTops" index= "$index" >
            <div class="links-cell">
                <ul class="rightLink">
                    <li ng-repeat="subseq in chunk">
            <related-topic type="'subseq'" topic="subseq" base-topic-id="topic.id" votes="topic.votes.subseq[subseq.topicId]"></related-topic>
          </li>
                </ul>
            </div>
        </uib-slide>
      </uib-carousel>

      <button type="button" class="btn btn-default btn-xs suggest-subseq" ng-click="suggestRelatedTopic({ suggestionType: 'subseq', topicId: topic.id})" ng-if="isLoggedIn"><span class="glyphicon glyphicon-plus"></span> suggest next topic</button>
    </div>

  </div>
</div>

<!-- MAIN BODY -->
<div class="container">
  <div class="row">
    <div class="col-md-12" id="topic-details">
      <uib-tabset type="pills">

        <!-- RESOURCES -->
        <uib-tab index="0" heading="Resources">

          <hr>

          <div class="row">
            <div ng-repeat="resource in topic.resources | filter:searchText">
              <div class="clearfix" ng-if="$index % 3 == 0"></div> <!-- fixes column<->overflow -->
              <div class="col-md-4 col-sm-6">
                <topic-resource resource="resource" topic-id="topic.id" votes="topic.votes.resources[resource.id]"></topic-resource>
              </div>
            </div>
          </div>

          <hr>

          <div class="row col-md-12 center">
            <button type="button" class="btn btn-lg btn-default" ng-click="addNewResource()">Add Resource</button>
          </div>
        </uib-tab>

        <!-- PLANS -->
        <uib-tab index="1" heading="Learning Plans">

          <hr>

          <div class="row">
            <div class="col-md-6 col-sm-12" ng-repeat="plan in topic.plans | filter:searchText">
              <div class="clearfix" ng-if="$index % 2 == 0"></div> <!-- fixes column<->overflow -->
              <topic-plan plan="plan" topic-id="topic.id"></topic-plan>
            </div>
          </div>

          <hr>

          <div class="row col-md-12 center">
            <button type="button" class="btn btn-lg btn-default" ng-click="addNewPlan()">Add Learning Plan</button>
          </div>
        </uib-tab>

        <input class="form-control" id="filter-bar" placeholder="Filter..." ng-model="searchText"/>

      </uib-tabset>
    </div>

  </div>
</div>
