<div class="modal-header">
  <h4 class="modal-title">
    {{ formTitle }}
  </h4>
</div>
<div class="modal-body">
  <form name="addPlanForm" class="form-horizontal">

  <div class="form-group">
    <label for="planName" class="col-sm-2 control-label">Name</label>
    <div class="col-sm-10">
      <input ng-model="plan.name" name="planName" type="text" class="form-control" ng-init="plan.name = defaultName" required active>
    </div>
  </div>

  <div class="form-group" ng-if="topics">
    <label for="planTopic" class="col-sm-2 control-label">Topic</label>
    <div class="col-sm-10">
      <select name="planTopic" class="form-control" ng-model="plan.topicId" required>
        <option ng-repeat="topic in topics" value="{{ topic.id }}">{{ topic.title }}</option>
      </select>
    </div>
  </div>

  <div class="form-group">
    <label for="planDescription" class="col-sm-2 control-label">Description</label>
    <div class="col-sm-10">
      <input ng-model="plan.description" name="planDescription" type="text" class="form-control" ng-init="plan.description = defaultDescription" required>
    </div>
  </div>

  <div class="form-group" style="max-height:200px; overflow-y: scroll;" ng-if="resources">
    <label for="planDescription" class="col-sm-2 control-label">Resources to include</label>
    <div class="col-sm-10">
      <div class="checkbox" ng-repeat="resource in resources">
        <label><input type="checkbox" ng-model="plan.resources[resource.id]"> {{ resource.name }}</label>
      </div>
    </div>
  </div>

</div>

<div class="modal-footer">
  <button class="btn btn-primary" type="button" ng-click="addPlan(plan)" ng-disabled='addPlanForm.$invalid'>
    <span class="glyphicon glyphicon-ok-circle"></span>
    submit
  </button>
  <button class="btn btn-danger" type="button" ng-click="close()">
    <span class="glyphicon glyphicon-remove-circle"></span>
    cancel
  </button>
  </form>


</div>
