<!-- If not logged in => show login form -->
<div ng-if="!isLoggedIn()">
  <div class="bubble">
    <span ng-bind-html="getWelcomeMessage()"></span>
    <hr>
    <ul class="nav nav-pills nav-stacked">
      <li role="presentation"><a ui-sref="login">Log in to begin</a></li>
    </ul>

  </div>
</div>

<!-- If logged in -->
<div ng-if="isLoggedIn()">
  <div class="bubble">
    <span ng-if="flashMsg" style="font-weight:bold">{{ flashMsg }}</span>
    <span ng-if="!flashMsg">Hi, {{ user.username }}!  What would you like to learn about today?</span>
  </div>

  <div id="topicCloud">
    <jqcloud words="cloudWords" width="450" height="250" center="{x:0.45, y:0.55}" autoResize="true" steps="10"></jqcloud>
  </div>

</div>
