<div class="bubble">
  Now if you'll simply provide your username, e-mail, password, Mother's maiden name, last 4 digits of pi, location of the holy grail, and a $500 check made out to 'cash' and we'll get started!
  <br><br>
  Actually, just your e-mail and password will do.
  <hr>
  Not a member?  <a href="{{ signupPath }}" target="_blank">Sign up now.</a>
</div>

<hr>

<form id="login-form" name="loginForm" ng-submit="loginForm.$valid && sendLogin(login)" autocomplete="off">
  <!-- disable autocomplete in Chrome, which minimizes the extension -->
  <input style="display:none;" type="text" name="somefakename" />
  <input style="display:none;" type="password" name="anotherfakename" />
  <div class="form-group">
    <input type="text" ng-model="login.email" class="form-control" id="email" placeholder="e-mail address" style="width: 350px;">
  </div>
  <div class="input-group" style="width: 350px;">
    <input type="password" ng-model="login.password" class="form-control" id="login-password" placeholder="password">
    <span class="input-group-btn">
      <button type="submit" class="btn btn-default">log in</button>
    </span>
  </div>
</form>
