.node{


	circle{
		stroke: #E5E5E5;
		stroke-width: 3px;
	}

	.link {
	    stroke: #999;
	    stroke-opacity: .6;
	}

	text{
		font-weight: bold;
		font-family:   "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;


	}

}

.svg-container {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 0;
    vertical-align: top;
    overflow: hidden;
}


.svg-content-responsive {
    display: inline-block;
    position: relative;
    top: 10px;
    left: 0;
}
