<div  class='container'>
  <h2>Users</h2>
  <div class='row'>
    <table class='table table-hover table-striped table-bordered table-responsive'>
      <th>UserId</th>
      <th>Email</th>
      <th>Admin Privileges</th>
      <th>Trigger Password Reset</th>
      <th>Delete</th>
      <tr ng-repeat='user in users | orderBy: "id"' ng-click='logIt()'>
        <td>{{ user.id }}</td>
        <td> {{user.email}}</td>
        <td><input type='checkbox' ng-model='user.isAdmin' ng-change='update(user)'></td>
        <td><a  ng-click='triggerPasswordReset(user)'><span class="glyphicon glyphicon-ok-sign"><span></a></td>
        <td><a style='color: red' ng-click='deleteUser(user)'><span class="glyphicon glyphicon-remove-sign"><span></a> </td>
      </tr>
    </table>
  </div>
</div>
