<!-- vote button should be on the left for subsequent; right for prerequisite voting -->
<a ui-sref="topic({ topicId })" ng-if="!buttonOnLeft">{{ topic.title }}</a>

<!-- Voting -->
<!-- user has not voted, or user is not logged in -->
<button type="button" class="btn btn-xs btn-default btn-upvote" ng-click="upvote()" ng-if="!voted">
  <span class="fa fa-thumbs-o-up"></span>
  {{ votes.length || 0 }}
</button>

<!-- user has voted -->
<button type="button" class="btn btn-xs btn-primary btn-voted" ng-click="devote()" ng-if="voted">
  <span class="fa fa-thumbs-up"></span>
  {{ votes.length || 0 }}
</button>

<!-- vote button should be on the left for subsequent; right for prerequisite voting -->
<a ui-sref="topic({ topicId })" ng-if="buttonOnLeft">{{ topic.title }}</a>
