<div  class='container'>
  <h2>Resources</h2>
  <div class='row'>
    <table class='table table-hover table-striped table-bordered table-responsive'>
      <th>ResourceId</th>
      <th>Name</th>
      <th>Url</th>
      <th>Type</th>
      <th >Flags</th>
      <th>TopicId</th>
      <th>UserId</th>
	  <th>Delete</th>
      <tr ng-repeat='resource in resources | orderBy: "id"' >
        <td>{{ resource.id }}</td>
        <td> <input type='text' ng-model='resource.name' ng-change='update(resource)'></td>
        <td> <input  ng-model="resource.url"  ng-change='update(resource)'></td>
        <td>
          <select selected='{{resource.type}}' ng-model='resource.type' ng-change='update(resource)'>
            <option ng-repeat='type in types' value='{{type}}'> {{type}}<option>
          </select>
        </td>
        <td>
          <a ng-click='openFlags(resource.id)'>
            <span class='glyphicon glyphicon-flag'></span>
          </a>
        </td>
        <td>{{resource.topicId}}</td>
        <td>{{resource.userId}}</td>
        <td><a style='color: red' ng-click='delete(resource.id)'><span class="glyphicon glyphicon-remove-sign"><span></a> </td>
      </tr>
    </table>
  </div>
</div>

