.w10 {
  color: rgba(0,0,0,0.8)!important;
}

.w9 {
  color: rgba(0,0,0,0.75)!important;
}

.w8 {
  color: rgba(0,0,0,0.7)!important;
}

.w7 {
  color: rgba(0,0,0,0.65)!important;
}

.w6 {
  color: rgba(0,0,0,0.6)!important;
}

.w5 {
  color: rgba(0,0,0,0.55)!important;
}

.w4 {
  color: rgba(0,0,0,0.5)!important;
}

.w3 {
  color: rgba(0,0,0,0.4)!important;
}

.w2 {
  color: rgba(0,0,0,0.35)!important;
}

.w1 {
  color: rgba(0,0,0,0.3)!important;
}

div.jqcloud a:hover {
  color: #d32000!important; 
}
