body {
  width: 600px;
  height: 400px;
  padding-left: 10px;
  background-color: rgba(116,81,55,0.20);
}

.sidebar {
  background-color: rgba(0,0,0,0.05);
  padding: 10px;
  height: 100%;
}

.main-row {
  height: 100%;
}

#main {
  padding: 10px;
}

.form-control {
  width: 250px;
  display: inline;
}

.logo-img {
  width: 100%;
  margin-bottom: 20px;
  cursor: pointer;
}

.btn-navigate {
  width: 90%;
  display: block;
}

.nav li:hover {
  cursor: pointer
}

.nav li a {
  padding: 5px;
  text-align: center;
  color: #745137;
}

.nav li a:hover {
  background-color: #745137;
  color: #FFFFFF;
}

hr {
  margin: 10px 0 10px 0;
}

.topic-description {
  font-weight: bold;
}
